<nav class="border-b border-[#E5E5E5] dark:border-[#262626]">
    <div class="max-w-7xl w-full mx-auto">
        <div class="flex items-center p-3">
            <p class="font-semibold">Buenos dias. Dylan.</p>

            <div class="ml-auto flex items-center gap-4">
                <button class="hover:bg-[#F5F5F5] dark:hover:bg-[#262626] transition-colors duration-300 p-1.5 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m21 21-4.34-4.34"/>
                        <circle cx="11" cy="11" r="8"/>
                    </svg>
                </button>

                <div class="relative">
                    <button class="menu-toggle bg-[#0169CC] flex items-center justify-center rounded-full w-7 h-7">
                        <p class="text-xs text-[#ffffff]">DS</p>
                    </button>

                    <div class="menu shadow hidden absolute right-0 mt-1 w-64 bg-[#ffffff] dark:bg-[#171717] border border-[#E5E5E5] dark:border-[#262626] rounded rounded-md z-10 text-sm">
                        <div class="p-2">
                            <p class="font-semibold">Dylan Sutton Chavez</p>
                            <p class="text-xs text-[#B0B0B0]">dylan718281@gmail.com</p>
                        </div>
                        <hr class="border-[#E5E5E5] dark:border-[#262626]">
                        <div class="p-0.5">
                            <button class="flex items-center gap-3 px-1.5 py-1 rounded-md hover:bg-[#F5F5F5] dark:hover:bg-[#262626] transition-colors duration-300 w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/>
                                    <path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                                </svg>
                                <p>Home</p>
                            </button>

                            <button class="flex items-center gap-3 px-1.5 py-1 rounded-md hover:bg-[#F5F5F5] dark:hover:bg-[#262626] transition-colors duration-300 w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    <rect width="7" height="9" x="3" y="3" rx="1"/>
                                    <rect width="7" height="5" x="14" y="3" rx="1"/>
                                    <rect width="7" height="9" x="14" y="12" rx="1"/>
                                    <rect width="7" height="5" x="3" y="16" rx="1"/>
                                </svg>
                                <p>Dashboard</p>
                            </button>

                            <button class="flex items-center gap-3 px-1.5 py-1 rounded-md hover:bg-[#F5F5F5] dark:hover:bg-[#262626] transition-colors duration-300 w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="8" r="5"/>
                                    <path d="M20 21a8 8 0 0 0-16 0"/>
                                </svg>
                                <p>Account</p>
                            </button>

                            <button class="flex items-center gap-3 px-1.5 py-1 rounded-md hover:bg-[#F5F5F5] dark:hover:bg-[#262626] transition-colors duration-300 w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="m8 2 1.88 1.88"/>
                                    <path d="M14.12 3.88 16 2"/>
                                    <path d="M9 7.13v-1a3.003 3.003 0 1 1 6 0v1"/>
                                    <path d="M12 20c-3.3 0-6-2.7-6-6v-3a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v3c0 3.3-2.7 6-6 6"/>
                                    <path d="M12 20v-9"/>
                                    <path d="M6.53 9C4.6 8.8 3 7.1 3 5"/>
                                    <path d="M6 13H2"/>
                                    <path d="M3 21c0-2.1 1.7-3.9 3.8-4"/>
                                    <path d="M20.97 5c0 2.1-1.6 3.8-3.5 4"/>
                                    <path d="M22 13h-4"/>
                                    <path d="M17.2 17c2.1.1 3.8 1.9 3.8 4"/>
                                </svg>
                                <p>Report a bug</p>

                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-[#B0B0B0] ml-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M7 7h10v10"/>
                                    <path d="M7 17 17 7"/>
                                </svg>
                            </button>

                            <button class="flex items-center gap-3 px-1.5 py-1 rounded-md hover:bg-[#F5F5F5] dark:hover:bg-[#262626] transition-colors duration-300 w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M22 20v-9H2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"/>
                                    <path d="M18 11V4H6v7"/>
                                    <path d="M15 22v-4a3 3 0 0 0-3-3a3 3 0 0 0-3 3v4"/>
                                    <path d="M22 11V9"/>
                                    <path d="M2 11V9"/>
                                    <path d="M6 4V2"/>
                                    <path d="M18 4V2"/>
                                    <path d="M10 4V2"/>
                                    <path d="M14 4V2"/>
                                </svg>
                                <p>Community</p>

                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-[#B0B0B0] ml-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M7 7h10v10"/>
                                    <path d="M7 17 17 7"/>
                                </svg>
                            </button>

                            <button class="flex items-center gap-3 px-1.5 py-1 rounded-md hover:bg-[#F5F5F5] dark:hover:bg-[#262626] transition-colors duration-300 w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="m16 17 5-5-5-5"/>
                                    <path d="M21 12H9"/>
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
                                </svg>
                                <p>Log out</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if show_nav %}
            <div class="overflow-x-auto whitespace-nowrap scrollbar-none">
                <div class="flex items-center gap-3" x-data="{ current: window.location.pathname }">
                    <a href="/dashboard" :class="current.startsWith('/dashboard') ? 'border-b border-[#000000] dark:border-[#ffffff]' : 'text-[#696969] hover:text-[#000000] dark:hover:text-[#ffffff]'" class="icon-hover flex items-center gap-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="7" height="9" x="3" y="3" rx="1"/>
                            <rect width="7" height="5" x="14" y="3" rx="1"/>
                            <rect width="7" height="9" x="14" y="12" rx="1"/>
                            <rect width="7" height="5" x="3" y="16" rx="1"/>
                        </svg>
                        <p class="text-sm">Dashboard</p>
                    </a>

                    <a href="/contacts" :class="current.startsWith('/contacts') ? 'border-b border-[#000000] dark:border-[#ffffff]' : 'text-[#696969] hover:text-[#000000] dark:hover:text-[#ffffff]'" class="icon-hover flex items-center gap-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M16 2v2"/>
                            <path d="M7 22v-2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2"/>
                            <path d="M8 2v2"/>
                            <circle cx="12" cy="11" r="3"/>
                            <rect x="3" y="4" width="18" height="18" rx="2"/>
                        </svg>
                        <p class="text-sm">Contacts</p>
                    </a>

                    <a href="/campaigns" :class="current.startsWith('/campaigns') ? 'border-b border-[#000000] dark:border-[#ffffff]' : 'text-[#696969] hover:text-[#000000] dark:hover:text-[#ffffff]'" class="icon-hover flex items-center gap-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m3 11 18-5v12L3 14v-3z"/>
                            <path d="M11.6 16.8a3 3 0 1 1-5.8-1.6"/>
                        </svg>
                        <p class="text-sm">Campaigns</p>
                    </a>

                    <a href="/messages" :class="current.startsWith('/messages') ? 'border-b border-[#000000] dark:border-[#ffffff]' : 'text-[#696969] hover:text-[#000000] dark:hover:text-[#ffffff]'" class="icon-hover flex items-center gap-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"/>
                        </svg>
                        <p class="text-sm">Messages</p>
                    </a>

                    <a href="/settings" :class="current.startsWith('/settings') ? 'border-b border-[#000000] dark:border-[#ffffff]' : 'text-[#696969] hover:text-[#000000] dark:hover:text-[#ffffff]'" class="icon-hover flex items-center gap-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/>
                            <circle cx="12" cy="12" r="3"/>
                        </svg>
                        <p class="text-sm">Settings</p>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</nav>